.btnSync {
    position: fixed;
    top: 2vw;
    left: 2vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    &.error {
        /* stylelint-disable-next-line */
        color: red;
    }

    &.success {
        /* stylelint-disable-next-line */
        color: green;
    }

    svg {
        width: 2em;
    }
}
