.qrScanVideo {
    width: 100%;
    height: auto;
}

.qr {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;

    .flash {
        position: absolute;
        top: 2vw;
        right: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 2em;
        }
    }
}
