:root {
    --fs: calc(4vw + 12px);
}

button {
    font-size: var(--fs);
}

.anon {
    padding: 10px;
    position: absolute;
    bottom: 20vh;
}

.app {
    width: 100vw;
    min-height: 100vh;
    font-size: var(--fs);

    h2 {
        margin: 15px 0 10px 0;
        text-align: center;
    }

    .screen {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: auto;

&.main {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
        }

        &.history {
            /*background-color: var(--c-yellow);*/
        }

        &.stats {
            /*background-color: var(--c-blue);*/
        }
    }
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 100vh;

    input {
        width: 90vw;
        max-width: 8ch;
        font-size: 10vw;
    }

    button {
        width: 90vw;
        padding: 1em;
    }
}
