.card {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;

    button {
        height: 100%;
        padding: 1em;
    }
}

.errorMsg {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.volDates {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    font-size: 0.75em;
}

.misc {
    font-size: 0.5em;
}

.volInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.lastUpdated {
    position: fixed;
    bottom: 1vh;
    font-size: 0.65em;
}

.feedType {
    position: fixed;
    top: 1vh;
    left: 0;
    width: 100vw;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
}
