.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95em;
    color: #333;

    thead {
        background-color: #f5f5f5;

        th {
            padding: 10px;
            font-weight: 500;
            text-align: right;
            border-bottom: 1px solid #d0d0d0;
        }
    }

    tbody {
        th {
            font-weight: 500;
            padding: 10px;
            text-align: left;
            border-top: 1px solid #d0d0d0;
        }

        td {
            padding: 10px;
            text-align: right;
            border-top: 1px solid #d0d0d0;
        }
    }
}
